APP_VERSION=2026-04-30-ada-strict-v3
LINE_MEMORY_ENABLED=1
LINE_CONTEXT_ENABLED=1
LINE_SESSION_SCOPE=user
LINE_KNOWLEDGE_ENABLED=1
LINE_KNOWLEDGE_STRICT=1
LINE_KNOWLEDGE_DIR=/app/data/adaguidelines
LINE_KNOWLEDGE_MAX_SNIPPETS=3
